# Gradle
.gradle/
build/

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VSCode
.vscode/

# Mac
.DS_Store

# Hytale Server JAR
libs

# Other
*.log
run/

/dependency/